# Multiple Regression using sklearn

y = m1 * x1 + m2 * x2 + m3 * x3 + ............... + mn * xn

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from mpl_toolkits.mplot3d import Axes3D

In [3]:
from sklearn.linear_model import LinearRegression

In [4]:
from sklearn.metrics import mean_squared_error

In [5]:
df = pd.read_csv("student.csv")

In [6]:
df.head()

   Math  Reading  Writing
0    48       68       63
1    62       81       72
2    79       80       78
3    76       83       79
4    59       64       62

In [7]:
math = df['Math'].values
read = df['Reading'].values
write = df['Writing'].values

In [8]:
X = np.array([math, read]).T
y = np.array(write)

In [9]:
model = LinearRegression()

In [11]:
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
y_pred = model.predict(X)

In [13]:
rmse = np.sqrt(mean_squared_error(y_pred,y))

In [15]:
rmse

4.572887051836439

In [16]:
model.score(X,y)

0.9098901726717316