# Python Strings
### Python allows for either pairs of single or double quotes.

### Substrings of strings can be taken using slice operator with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.
### The + sign is the string concatenation operator and the * is the repetition operator.

In [1]:
print("a\tb") # a b
print("a\141\x61") # aaa(ASCII)
print("a\nb") # ab (New Line)
print('\u2192 \N{rightwards arrow}') #→ →
print(chr(65))
print(ord('A'))

a	b
aaa
a
b
→ →
A
65

# Python Lists

### List is an ordered sequence of items

In [2]:
list = [ 'xyz', 123, 1.23, 'RAM', 17.5 ]
tinylist= [123, 'RAM']
print(list) # Prints complete list
print(list[0]) # Prints first element of the list
print(list[1:3]) # Prints elements starting from 2nd till 3rd
print(list[2:]) # Prints elements starting from 3rd element
print(tinylist* 2) # Prints list two times
print(list + tinylist) # Prints concatenated lists
list.append("Dr Neeraj Gupta") #Applicable
print("list[3:] = ", list[3:])
tinylist.insert(1, "Abhishek") # To add new value

['xyz', 123, 1.23, 'RAM', 17.5]
xyz
[123, 1.23]
[1.23, 'RAM', 17.5]
[123, 'RAM', 123, 'RAM']
['xyz', 123, 1.23, 'RAM', 17.5, 123, 'RAM']
list[3:] =  ['RAM', 17.5, 'Dr Neeraj Gupta']

# Python Tuples

### Lists are enclosed in [] and their elements and size can be changed.

### While tuples are enclosed () and cannot be changed.

### Tuples are read only.

In [3]:
tuple = ('xyz', 123, 1.23, 'RAM', 17.5 )
tinytuple= (123, 'RAM')
print(tuple) # Prints complete list
print(tuple[0]) # Prints first element of the list
print(tuple[1:3]) # Prints elements starting from 2nd till 3rd
print(tuple[2:]) # Prints elements starting from 3rd element
print(tinytuple* 2) # Prints list two times
print (tuple + tinytuple) # Prints concatenated lists
tuple.append('Dr Neeraj Gupta') # Not Applicable

('xyz', 123, 1.23, 'RAM', 17.5)
xyz
(123, 1.23)
(1.23, 'RAM', 17.5)
(123, 'RAM', 123, 'RAM')
('xyz', 123, 1.23, 'RAM', 17.5, 123, 'RAM')

AttributeError: 'tuple' object has no attribute 'append'

# How to modify Tuple Values?

In [4]:
T1=(10,50,20,9,40,25,60,30,1,56)
print(T1[0])
L1=list(T1[0])
L1[5]=100
T1=tuple(L1)
T1
#convert tuple to list by list()

10

TypeError: 'list' object is not callable

In [5]:
list1=[1,2,3]
tuple=tuple(list1)

TypeError: 'tuple' object is not callable

# Python Dictionary

### Dictinaries are enclosed by {} and values can be assigned and accessed using []

In [6]:
dict= {}
dict['one'] = "This is one"
dict[2] = "This is two"
print(dict)
tinydict= {'name': 'RAM','code':'8989', 'dept': 'IT'}
print(dict['one']) # Prints value for 'one' key
print(dict[2]) # Prints value for 2 key
print(tinydict) # Prints complete dictionary
print(tinydict.keys()) # Prints all the keys
print(tinydict.values()) # Prints all the values

{'one': 'This is one', 2: 'This is two'}
This is one
This is two
{'name': 'RAM', 'code': '8989', 'dept': 'IT'}
dict_keys(['name', 'code', 'dept'])
dict_values(['RAM', '8989', 'IT'])

# Python Sets

### Set is an ordered and unordered collection of unique items.
### Set is defined by values separated by comma inside {}

In [7]:
a = {5,5,5,5,2,3,1,4} # printing set variable
print("a = ", a)
print(type(a)) # data type of variable a

a =  {1, 2, 3, 4, 5}
<class 'set'>

# Python Operators

### Operators are used to perform operations on variables and values.
<h3><ul>
        <li>Arithmetic Operators</li>
        <li>Assignment Operators</li>
        <li>Comparison Operators</li>
        <li>Logical Operators</li>
        <li>Identity Operators</li>
        <li>Membership Operators</li>
        <li>Bitwise Operators</li>
    </ul></h3>

# Arithmetic Operators
<h3><ul>
    <li> + - * / % </li>
    <li> ** ->Exponentiation </li>
    <li> // ->Floor Division </li>
    </ul>
</h3>

In [8]:
a=5
b=3
print(a*b)
print(11//3)
print(5//2.0)
print(5**5)

15
3
2.0
3125

# Comparision Operators/Relational Operators
### It either returns True of False according to the condition.

In [9]:
x = 10
y = 12
print('x > y is',x>y)
print('x < y is',x<y)
print('x == y is',x==y)
print('x != y is',x!=y)
print('x >= y is',x>=y)
print('x <= y is',x<=y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

# Assignment Operators

In [10]:
x=5
print(x)
x=x+5
print(x)

5
10

# Logical Operators

In [11]:
x = True
y = False
# Output: x and y is False
print('x and y is',x and y)
# Output: x or y is True
print('x or y is',x or y)
# Output: not x is False
print('not x is',not x)

x and y is False
x or y is True
not x is False

# Identity Operators
### is and isnot are the identity operators in python .They are used to check if two values or variables are located on the same part of the memory. Two variables that are equal does not imply that the are identical.

In [12]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]
print(x1 is not y1) # Output: False
print(x2 is y2) # Output: True
print(x3 is y3) # Output: False
print(id(x1))
print(id(y1))
print(id(5))
print(id('Hello'))
print(id(x2))
print(id(y2))
print(id(x3))
print(id(y3))

False
True
False
140718287397392
140718287397392
140718287397392
2372512077488
2372512077488
2372512077488
2372513829640
2372513829576

# Membership Operators
### in and not in are the membership operators in Python.They are used to test whether a value or variable is found in a sequence.In a dictionary we can only test for presence of key,not the value.

In [13]:
x = 'Hello world'
y = {1:'a',2:'b'}
print('H' in x) # Output: True
print('hello' not in x) # Output: True
print(1 in y) # Output: True
print('a' in y) # Output: False

True
True
True
False

# Bitwise Operators

In [14]:
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

c = a & b;        # 12 = 0000 1100
print(c)

c = a | b;        # 61 = 0011 1101 
print(c) 

c = a ^ b;        # 49 = 0011 0001
print(c) 

c = ~a;           # -61 = 1100 0011
print(c) 

c = a << 2;       # 240 = 1111 0000
print(c) 

c = a >> 2;       # 15 = 0000 1111
print(c)

12
61
49
-61
240
15

# Programs

In [15]:
num1 = 1.5
num2 = 6.3
sum = float(num1) + float(num2)
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

The sum of 1.5 and 6.3 is 7.8

In [18]:
num= float(input('Enter a number: '))
num_sqrt= num** 0.5
print('The square root of %0.3f is %0.3f'%(num,num_sqrt))

Enter a number: 25
The square root of 25.000 is 5.000

In [17]:
# Solve the quadratic equation ax**2 + bx+ c = 0
import cmath
a = float(input('Enter a: '))
b = float(input('Enter b: '))
c = float(input('Enter c: '))
d = (b**2) -(4*a*c)
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)
print('The solution are {0} and {1}'.format(sol1,sol2))

Enter a: 2
Enter b: 1
Enter c: 2
The solution are (-0.25-0.9682458365518543j) and (-0.25+0.9682458365518543j)

In [19]:
import random
import numpy
print(random.randint(0,9))
print(numpy.random.randint(0,9,size=4))
print(random.sample(range(9),4)) # Unique values

4
[4 3 1 8]
[1, 7, 5, 0]